@font-face {
    font-family: 'NanoFont';
    src: local('NanoFont'),
         url('/fonts/NotoSansHK-Regular.otf') format('otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: local('Oxygen'),
        url('/fonts/OxygenMono-Regular.ttf') format('ttf');
    font-weight: normal;
}